<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

</head>

<body class="<%- bodyClass %>">

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-top">
            <div class="container">
                <div class="contact-addresses">
                    <i class="fas fa-phone-alt"></i><a href="tel:+90 (533) 735 7895">+90 (533) 735 7895</a>
                </div>
            </div>
        </div>

        <div class="container navbar-bottom">

            <div class="navbar-brand">
                <a href="/">
                    <img class="navbar-logo-white" src="/assets/img/logo/djidestek-logo-white-1.5.png" alt="logo-white">
                    <img class="navbar-logo-black" src="/assets/img/logo/djidestek-logo-black-1.5.png" alt="logo-black">
                </a>
            </div>

            <div class="navbar-menu">
                <ul class="navbar-menu-list">
                    <li class="navbar-menu-item dropable">
                        <a href="/teknik-servis">Teknik Servis</a>
                        <div class="navbar-drop-menu">

                            <div class="navbar-drop-menu-flex">
                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="/teknik-servis/inspire">
                                            <img src="/assets/img/navbar/inspire.png" alt="dji-inspire">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/inspire">Inspire Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/inspire/inspire-1">Inspire 1</a></h4>
                                            <div class="title-3-cover">

                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/inspire/inspire-2">Inspire 2</a></h4>
                                            <div class="title-3-cover">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="/teknik-servis/phantom">
                                            <img src="/assets/img/navbar/phantom.png" alt="dji-phantom">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/phantom">Phantom Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/phantom/phantom-3">Phantom 3</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-3/standard">Standard</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-3/advanced">Advanced</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-3/pro">Pro</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/phantom/phantom-4">Phantom 4</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/standard">Standard</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/advanced">Advanced</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/pro">Pro</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/obcidian-black">Opcidian Black</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/v2">V2</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="/teknik-servis/mavic">
                                            <img src="/assets/img/navbar/mavic.png" alt="dji-mavic">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/mavic">Mavic Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic">Mavic</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/air">Air</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/air-2">Air 2</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/pro">Pro</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/pro-platinum">Pro Platinum</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic-2">Mavic 2</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2/zoom">Zoom</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2/pro">Pro</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic-2-enterprise">Mavic 2 Enterprise</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2-enterprise/dual">Dual</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2-enterprise/zoom">Zoom</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2-enterprise/advanced">Advanced</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic-mini">Mavic Mini</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-mini/mini-1">Mini 1</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-mini/mini-2">Mini 2</a></h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="spark">
                                            <img src="/assets/img/navbar/spark.png" alt="dji-spark">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/spark">Spark Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/spark/spark">Spark</a></h4>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </li>

                    <li class="navbar-menu-item">
                        <a href="/magaza">Yedek Parça & Aksesuar</a>
                    </li>

                    <li class="navbar-menu-item">
                        <a href="/blog">Blog</a>
                    </li>

                    <li class="navbar-menu-item">
                        <a href="/iletisim">İletişim</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-menu-collapser">
                <button><i class="fas fa-bars"></i></button>
            </div>

        </div>
    </nav>

    <!-- CONTENT -->
    <div class="content">
        <%- 
        body 
        %>
    </div>
    
    <!-- FOOTER -->
    <footer class="footer">
        
        <div class="footer-top">
    
            <div class="container">

                <% if(seoText) { %>
                <div class="footer-top-seo-text">
                    <%- seoText %>
                </div>
                <% } %>
        
                <div class="footer-top-menus">
                    <div class="footer-top-part ">
                        <h3>Teknik Servis</h3>
                        <ul>
                            <li><a href="/teknik-servis/inspire">Inspire</a></li>
                            <li><a href="/teknik-servis/phantom">Phantom</a></li>
                            <li><a href="/teknik-servis/mavic">Mavic</a></li>
                            <li><a href="/teknik-servis/spark">Spark</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-top-part ">
                        <h3>Yedek Parça & Aksesuar</h3>
                        <ul>
                            <li><a href="/magaza">Mağazamız yakında açılacaktır.</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-top-part ">
                        <h3>Blog</h3>
                        <ul>
                            <% for(let i = 0; i < favoriteBlogs.length; i++) { %>
                            <li><a href="/blog/<%- favoriteBlogs[i].blogUrl %>"><%- favoriteBlogs[i].blogTitle %></a></li>
                            <% } %>
                        </ul>
                    </div>
        
                    <div class="footer-top-part ">
                        <h3>İletişim</h3>
                        <ul>
                            <li><i class="fas fa-phone-alt"></i><a href="tel:+90 (533) 735 7895">+90 (533) 735 7895</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:iletisim@djidestek.com">iletisim@djidestek.com</a></li>
                            <li><i class="fas fa-map-marker-alt"></i><a href="https://goo.gl/maps/kMgBM9k615peiY687" target="_blank">Caferağa Mah. Nail Bey Sk. No:7/A KADIKÖY/İSTANBUL</a></li>
                        </ul>
                    </div>
                </div>
        
                <div class="footer-top-bottom">
                    <div class="footer-logo">
                        <a href="/"><img src="/assets/img/logo/djidestek-logo-white-1.5.png" alt="logo-white"></a>
                    </div>
        
                    <ul class="footer-top-bottom-list">
                        <li><a href="/teknik-servis">Teknik Servis</a></li>
                        <li><a href="/magaza">Yedek Parça ve Aksesuar</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/iletisim">İletişim</a></li>
                    </ul>
        
                    <ul class="footer-top-bottom-social">
                        <li><a href="https://instagram.com/dji.destek" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
        
                </div>
        
            </div>
        
        </div>
    
        <div class="footer-bottom">
            
            <div class="container">
        
                <div class="copyright-text">
                    <p>Tüm Hakları Saklıdır &copy; Dji Destek</p>
                </div>
        
                <div class="developer-logo">
                    <a href="https://yusufcode.com" target="_blank">
                        <img src="https://yusufcode.com/assets/img/logo/logo.png" alt="yusufcode">
                    </a>
                </div>
        
            </div>
        
        </div>
    
    </footer>

    <%- include('../partials/foot') %>
    
</body>

</html>