<!DOCTYPE html>
<html lang="en">

<head>

    <script>
        if (window.location.host !== 'localhost:5001') {
            if (location.protocol !== 'https:') {
                location.replace(`https:${location.href.substring(location.protocol.length)}`);
            }
        }
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKY90DJ47R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-HKY90DJ47R');
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-196847632-1">
    </script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-196847632-1');
    </script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PLF5JRL');</script>
    <!-- End Google Tag Manager -->
    
    <!-- TITLE -->
    <title><%- title %></title>
    
    <!-- WEBSITE DESCRIPTION -->
    <meta name="description" content="<%-description%>">
    
    <!-- WEBSITE KEYWORDS -->
    <meta name="keywords" content="<%-keywords%>">
    
    <!-- WEBSITE AUTHOR -->
    <meta name="author" content="<%-author%>">
    
    <!-- META TAGS -->
    <meta charset="UTF-8">
    
    <!-- RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    
    <!-- WEBSITE ICON -->
    <link rel="icon" href="/assets/img/logo/dji-logo-black.svg" sizes="16x16">
    
    <!-- APPLE TOUCH ICON -->
    <link rel="apple-touch-icon" href="/assets/img/logo/dji-logo-black.svg" sizes="57x57">
    
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-4.3.1.min.css">
    
    <!--FEATHER-->
    <link rel="stylesheet" href="/assets/css/feather/feather.css">
    
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <!--SWIPER-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- LIGHTGALLERY -->
    <link rel="stylesheet" href="/assets/lightgallery/css/lightgallery.css" />
    <link rel="stylesheet" href="/assets/lightgallery/css/lg-zoom.css" />
    <link rel="stylesheet" href="/assets/lightgallery/css/lg-thumbnail.css" />
    <link rel="stylesheet" href="/assets/lightgallery/css/lg-fullscreen.css" />
    <link rel="stylesheet" href="/assets/lightgallery/css/lg-transitions.css" />
    
    <!-- WEBSITE STYLE -->
    <link rel="stylesheet" href="/assets/css/style.css?v=3.1">

</head>

<body class="<%- bodyClass %>">

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-top">
            <div class="container">
                <div class="contact-addresses">
                    <i class="fas fa-phone-alt"></i><a href="tel:+90 (533) 735 7895">+90 (533) 735 7895</a>
                </div>
            </div>
        </div>

        <div class="navbar-bottom container">

            <div class="navbar-brand">
                <a href="/">
                    <img class="navbar-logo-white" src="/assets/img/logo/djidestek-logo-white.png" alt="logo-white">
                    <img class="navbar-logo-black" src="/assets/img/logo/djidestek-logo-black.png" alt="logo-black">
                </a>
            </div>

            <div class="navbar-menu">
                <ul class="navbar-menu-list">
                    <li class="navbar-menu-item dropable">
                        <a href="/teknik-servis">Teknik Servis</a>
                        <div class="navbar-drop-menu">

                            <div class="navbar-drop-menu-flex">
                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="/teknik-servis/inspire">
                                            <img src="/assets/img/navbar/inspire.png" alt="dji-inspire">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/inspire">Inspire Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/inspire/inspire-1">Inspire 1</a></h4>
                                            <div class="title-3-cover">

                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/inspire/inspire-2">Inspire 2</a></h4>
                                            <div class="title-3-cover">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="/teknik-servis/phantom">
                                            <img src="/assets/img/navbar/phantom.png" alt="dji-phantom">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/phantom">Phantom Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/phantom/phantom-3">Phantom 3</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-3/standard">Standard</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-3/advanced">Advanced</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-3/pro">Pro</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/phantom/phantom-4">Phantom 4</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/standard">Standard</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/advanced">Advanced</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/pro">Pro</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/obcidian-black">Opcidian Black</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/phantom/phantom-4/v2">V2</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="/teknik-servis/mavic">
                                            <img src="/assets/img/navbar/mavic.png" alt="dji-mavic">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/mavic">Mavic Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic">Mavic</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/air">Air</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/air-2">Air 2</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/pro">Pro</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic/pro-platinum">Pro Platinum</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic-2">Mavic 2</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2/zoom">Zoom</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2/pro">Pro</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic-2-enterprise">Mavic 2 Enterprise</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2-enterprise/dual">Dual</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2-enterprise/zoom">Zoom</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-2-enterprise/advanced">Advanced</a></h5>
                                            </div>
                                        </div>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/mavic/mavic-mini">Mavic Mini</a></h4>
                                            <div class="title-3-cover">
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-mini/mini-1">Mini 1</a></h5>
                                                <h5 class="title-3"><a href="/teknik-servis/mavic/mavic-mini/mini-2">Mini 2</a></h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="navbar-drop-menu-part">
                                    <div class="navbar-drop-menu-part-image-side">
                                        <a href="spark">
                                            <img src="/assets/img/navbar/spark.png" alt="dji-spark">
                                        </a>
                                    </div>

                                    <div class="navbar-drop-menu-part-models-side">
                                        <h3 class="title-1"><a href="/teknik-servis/spark">Spark Serisi</a></h3>

                                        <div class="title-2-cover">
                                            <h4 class="title-2"><a href="/teknik-servis/spark/spark">Spark</a></h4>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </li>

                    <li class="navbar-menu-item">
                        <a href="/magaza">Mağaza</a>
                    </li>

                    <li class="navbar-menu-item">
                        <a href="/blog">Blog</a>
                    </li>

                    <li class="navbar-menu-item">
                        <a href="/iletisim">İletişim</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-cart">
                <div class="cart-header">
                    <h3>Sepetiniz</h3>
                </div>
                <div class="cart-items">
                    <div class="cart-item">
                        <div class="cart-item-image">
                            <a href="/magaza/dji-inspire-2">
                                <img src="/assets/img/products/inspire.png" alt="">
                            </a>
                        </div>
                        <div class="cart-item-details">
                            <div class="cart-item-title">
                                <a href="/magaza/dji-inspire-2">
                                    <h4>Dji Inspire 2</h4>
                                </a>
                            </div>
                            <div class="cart-item-price">
                                <div class="cart-item-old-price">
                                    <p><span class="price">42999</span><span class="sign">₺</span></p>
                                </div>
                                <div class="cart-item-current-price">
                                    <p><span class="price">39999</span><span class="sign">₺</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item-remove-cover">
                            <button><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="cart-null"><p>Sepetiniz boş.</p></div>
                </div>
                <div class="cart-footer">
                    <div class="cart-total-price">
                        <p>Toplam: <span class="price">0</span><span class="sign">₺</span></p>
                    </div>
                    <div class="cart-parge-button-cover">
                        <button><i class="fas fa-shopping-cart"></i> Sepete Git</button>
                    </div>
                </div>
            </div>

            <div class="navbar-cart-collapser-cover">
                <button>
                    <i class="fas fa-shopping-cart"></i>
                    <div class="cart-count-product">
                        <p>0</p>
                    </div>
                </button>
            </div>

            <div class="navbar-menu-collapser-cover">
                <button><i class="fas fa-bars"></i></button>
            </div>

        </div>
    </nav>

    <!-- CONTENT -->
    <div class="content">
        <%- 
        body 
        %>
    </div>
    
    <!-- FOOTER -->
    <footer class="footer">
        
        <div class="footer-top">
    
            <div class="container">

                <% if(seoText) { %>
                <div class="footer-top-seo-text">
                    <%- seoText %>
                </div>
                <% } %>
        
                <div class="footer-top-menus">
                    <div class="footer-top-part ">
                        <h3>Teknik Servis</h3>
                        <ul>
                            <li><a href="/teknik-servis/inspire">Inspire</a></li>
                            <li><a href="/teknik-servis/phantom">Phantom</a></li>
                            <li><a href="/teknik-servis/mavic">Mavic</a></li>
                            <li><a href="/teknik-servis/spark">Spark</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-top-part ">
                        <h3>Mağaza</h3>
                        <ul>
                            <li><a href="/magaza">Mağazamız yakında açılacaktır.</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-top-part ">
                        <h3>Blog</h3>
                        <ul>
                            <% for(let i = 0; i < favoriteBlogs.length; i++) { %>
                            <li><a href="/blog/<%- favoriteBlogs[i].url %>"><%- favoriteBlogs[i].blogTitle %></a></li>
                            <% } %>
                        </ul>
                    </div>
        
                    <div class="footer-top-part ">
                        <h3>İletişim</h3>
                        <ul>
                            <li><i class="fas fa-phone-alt"></i><a href="tel:+90 (533) 735 7895">+90 (533) 735 7895</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:iletisim@djidestek.com">iletisim@djidestek.com</a></li>
                            <li><i class="fas fa-map-marker-alt"></i><a href="https://goo.gl/maps/kMgBM9k615peiY687" target="_blank">Caferağa Mah. Nail Bey Sk. No:7/A KADIKÖY/İSTANBUL</a></li>
                        </ul>
                    </div>
                </div>
        
                <div class="footer-top-bottom">
                    <div class="footer-logo">
                        <a href="/"><img src="/assets/img/logo/djidestek-logo-white.png" alt="logo-white"></a>
                    </div>
        
                    <ul class="footer-top-bottom-list">
                        <li><a href="/teknik-servis">Teknik Servis</a></li>
                        <li><a href="/magaza">Mağaza</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/iletisim">İletişim</a></li>
                    </ul>
        
                    <ul class="footer-top-bottom-social">
                        <li><a href="https://instagram.com/dji.destek" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
        
                </div>
        
            </div>
        
        </div>
    
        <div class="footer-bottom">
            
            <div class="container">
        
                <div class="copyright-text">
                    <p>Tüm Hakları Saklıdır &copy; Dji Destek</p>
                </div>
        
                <div class="developer-signature">
                    <p>This website designed and developed by <a href="https://yusufcode.com" target="_blank">yusufcode.com</a></p>
                </div>
        
            </div>
        
        </div>
    
    </footer>

    <!-- JQUERY -->
    <script src="/assets/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/jquery/jquery-ui-1.12.1.min.js"></script>

    <!-- BOOTSTRAP -->
    <script src="/assets/js/bootstrap/popper-1.14.7.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap-4.3.1.min.js"></script>

    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- LIGHTGALLERY -->
    <script src="/assets/lightgallery/lightgallery.min.js"></script>
    <script src="/assets/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="/assets/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="/assets/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="/assets/lightgallery/plugins/hash/lg-hash.min.js"></script>
    <script src="/assets/lightgallery/plugins/relativeCaption/lg-relative-caption.min.js"></script>

    <!-- SCRIPTS -->
    <script src="/assets/js/scripts.js?v=2.0.1"></script>
    <script src="/assets/js/scripts-ajax.js?v=1.0.0"></script>
    
</body>

</html>