<!DOCTYPE html>
<html lang="en">
	<head>
	
    <%- include('../partials/admin/head') %>
    
	</head>

	<body id="kt_body" class="header-fixed subheader-enabled page-loading <%- bodyClass %>">
		
		<div class="d-flex flex-column flex-root">
			
			<div class="d-flex flex-row flex-column-fluid page">
				
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
					<div id="kt_header_mobile" class="header-mobile">
						
						<a href="/admin">
							<img alt="Logo" src="/assets/img/logo/logo-white.svg" class="max-h-30px" />
						</a>
						
						<div class="d-flex align-items-center">
							<button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
								<span></span>
							</button>
							<button class="btn p-0 ml-2" id="kt_header_mobile_topbar_toggle">
								<span class="svg-icon svg-icon-xl">
									
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<polygon points="0 0 24 0 24 24 0 24" />
											<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
											<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
										</g>
									</svg>
									
								</span>
							</button>
						</div>
						
					</div>
					
					<div id="kt_header" class="header header-fixed">
						
						<div class="container">
							
							<div class="d-none d-lg-flex align-items-center mr-3">
								
								<a href="/admin" class="mr-20">
									<img alt="Logo" src="/assets/img/logo/logo-white.svg" class="logo-default max-h-35px" />
								</a>
								
							</div>
							
							<div class="topbar topbar-minimize">
								
								<div class="dropdown">
									
									<div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px">
										<div class="btn btn-icon btn-clean h-40px w-40px btn-dropdown">
											<span class="svg-icon svg-icon-lg">
												
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<polygon points="0 0 24 0 24 24 0 24" />
														<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
														<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
													</g>
												</svg>
												
											</span>
										</div>
									</div>
									
									<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">
										
										<div class="d-flex align-items-center p-8 rounded-top">
											
											<a href="">
												<div class="symbol symbol-md bg-light-primary mr-3 flex-shrink-0">
													<img src="/assets/img/users/nopp.png" alt="" />
												</div>
											</a>
											
											<a href="">
												<div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5"><%- user.fullname %></div>
											</a>
											
										</div>
										<div class="separator separator-solid"></div>
										
										<div class="navi navi-spacer-x-0 pt-5">
											
											<a href="" class="navi-item px-8">
												<div class="navi-link">
													<div class="navi-icon mr-2">
														<i class="flaticon2-calendar-3 text-information"></i>
													</div>
													<div class="navi-text">
														<div class="font-weight-bold">Profil</div>
														<div class="text-muted">Profil özellikleri</div>
													</div>
												</div>
											</a>
											
											<a href="" class="navi-item px-8">
												<div class="navi-link">
													<div class="navi-icon mr-2">
														<i class="flaticon2-mail text-information"></i>
													</div>
													<div class="navi-text">
														<div class="font-weight-bold">Mail</div>
														<div class="text-muted">Gelen - Giden mailler</div>
													</div>
												</div>
											</a>
											
											<a href="" class="navi-item px-8">
												<div class="navi-link">
													<div class="navi-icon mr-2">
														<i class="flaticon2-settings text-information"></i>
													</div>
													<div class="navi-text">
														<div class="font-weight-bold">Ayarlar</div>
														<div class="text-muted">Website ayarları</div>
													</div>
												</div>
											</a>
											
											<div class="navi-separator mt-3"></div>
											<div class="navi-footer px-8 py-5">
												<a href="/admin-cikis-yap" class="btn btn-light-primary font-weight-bold">Çıkış</a>
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
				
					<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
						<div class="container">
							
							<div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default header-menu-root-arrow">
								
								<ul class="menu-nav">
									<li class="menu-item menu-item-open menu-item-rel">
										<a href="/admin" class="menu-link">
											<span class="menu-text">ANASAYFA</span>
										</a>
									</li>
									<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
										<a href="" class="menu-link menu-toggle">
											<span class="menu-text">SAYFALAR</span>
											<i class="menu-arrow"></i>
										</a>
										<div class="menu-submenu menu-submenu-classic menu-submenu-left">
											<ul class="menu-subnav">
												<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
													<a href="/admin/blog" class="menu-link">
														<span class="menu-text">Blog</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
								
							</div>
							
						</div>
					</div>

					<div class="d-flex flex-row flex-column-fluid container">
						
						<div class="main d-flex flex-column flex-row-fluid">
					
							<div class="subheader py-2 py-lg-6" id="kt_subheader">
								<div class="w-100 d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								
									<div class="d-flex align-items-center flex-wrap mr-1">
									
										<div class="d-flex align-items-baseline flex-wrap mr-5">
											
											<h5 class="text-dark font-weight-bold my-1 mr-5"><%- pageName %></h5>
											
										</div>
										
									</div>
									
								</div>
							</div>
							
							<div class="content flex-column-fluid" id="kt_content">
								<%-body%>
							</div>
							
						</div>
						
					</div>
					
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
							
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2021 &copy;</span>
								<a href="https://yusufcode.com/" target="_blank" class="text-white text-hover-primary">YUSUFCODE</a>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</div>

		<%- include('../partials/admin/foot') %>

	</body>
</html>