<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p{
            margin: 0px;
            margin-bottom: 2.5px;
        }
    </style>
</head>
<body>

    <p><b>Drone Serisi: </b><%= mailInfo.droneSerial%></p>
    <p><b>Drone Modeli: </b><%= mailInfo.droneModel%></p>
    <p><b>Drone Alt Modeli: </b><%= mailInfo.droneAltModel%></p>
    <br>
    <p><b>Problem Başlığı: </b><%= mailInfo.problemTitle%></p>
    <p><b>Problem Açıklaması: </b><%= mailInfo.problemDesc%></p>
    <br>
    <p><b>Ad Soyad: </b><%= mailInfo.costomerName%></p>
    <p><b>Numara: </b><%= mailInfo.costomerNumber%></p>
    <p><b>Email: </b><%= mailInfo.costomerEmail%></p>
    
</body>
</html>