<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p{
            margin: 0px;
            margin-bottom: 2.5px;
        }
    </style>
</head>
<body>

    <% mailInfo.forEach(info => { %>

        <p><b>Drone Serisi: </b><%= info.droneSerial%></p>
        <p><b>Drone Modeli: </b><%= info.droneModel%></p>
        <p><b>Drone Alt Modeli: </b><%= info.droneAltModel%></p>
        <br>
        <p><b>Problem Başlığı: </b><%= info.problemTitle%></p>
        <p><b>Problem Açıklaması: </b><%= info.problemDesc%></p>
        <br>
        <p><b>Ad Soyad: </b><%= info.costomerName%></p>
        <p><b>Numara: </b><%= info.costomerNumber%></p>
        <p><b>Email: </b><%= info.costomerEmail%></p>

    <%})%>
    
</body>
</html>